doctype html
html(lang = "en")
  head
    meta(charset = "utf-8")
    meta(name = "viewport", content = "width=device-width,initial-scale=1")
    title GitHub Pages Example
  body
    article
      .github-ribbon
        a(href = "https://github.com/simbo/gh-pages-example") #[span]
      include:markdown article.md
